#root {
    padding: 1rem;
    text-align: center;
    background-color: aliceblue;
    border-radius: 20px;
}
.btn {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: transparent;
}
.next {
    width: 100px;
    padding: 1rem;
    border: none;
    background-color: blue;
    border-radius: 15px;
    margin-top: 1rem;
    color: white;
}
.flags {
    text-align: left;
 }
img {
    width: 30%;
}
.popup {
    position: absolute;
    top: 14%;
    background-color: white;
    width: 90%;
    height: 73%;
    border-radius: 20px;
    margin: 0;
}