html {
    font-family: "Poppins";
    font-style: normal;
}
body {
    margin: 0;
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#root {
    padding: 1rem;
}
h1 {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
    color: #F2F2F2;
}
h3 {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #1D355D;
    margin: 0;
    padding-top: 74.8px;
}
button {
    cursor: pointer;
}
img {
    width: 100%;
}
.cup {
    width: 238px;
    height: 128.58px;
}
.quiz-card {
    max-width: 464px;
    padding-top: 68px;
    padding-bottom: 68px;
    padding-left: 32px;
    padding-right: 32px;
}
.quiz-image {
    position: absolute;
    top: -70px;
    right: 0;
    width: 162px;
    height: 116px;
}
.flag-image {
    width: 84px;
    height: 54px;
    border-radius: 4px;
    padding-top: 26px;
}
.quiz-card {
    position: relative;
}
.quiz-card,
.popup {
    background: #FFFFFF;
    border-radius: 24px;
    padding: 32px;
}
.popup {
    text-align: center;
}
.try-btn {
    margin-top: 71px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 61px;
    padding-right: 61px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #1D355D;
    border: 2px solid #1D355D;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #FFFFFF;
}
.quiz-score {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #1D355D;
}
.score {
    color: #51e47d;
    font-size: 25px;
}
.question {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #2F527B;
    padding-top: 26.18px;
    padding-bottom: 32px;
    margin: 0;
}
.next-button {
    text-align: right;
}
.next {
    width: 116px;
    height: 56px;
    left: 804px;
    top: 723px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: #F9A826;
    box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
    border-radius: 12px;
    border: none;
}
.answer-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.answer-button {
    background: #FFFFFF;
    border: 2px solid rgba(96, 102, 208, 0.7);
    box-sizing: border-box;
    border-radius: 12px;
    text-align: left;
    color: rgba(96, 102, 208, 0.8);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 47px;
    align-items: center;
    padding-top: 15px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 14px;
}
.answer-button:hover {
    outline: none;
    border: none;
    background-color: orange;
    color: #fff;
    border: 2px solid orange;
}
.answer-button:disabled {
    pointer-events: none;
}
.country-name {
    font-size: 18px;
   line-height: 27px;
}
.alpha {
    font-size: 24px;
    line-height: 36px;
}
.green {
    background-color: #60BF88;
    color: #fff;
    background-image: url("./img/check_circle_outline-24px.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: top 50% right 18px;
    border: none;
}

.green > *,
.red > * {
    color: #fff;
}
.green:hover,
.green:focus,
.red:hover,
.red:focus {
    outline: none;
    border: none;
}
.green:hover,
.green:focus {
    background-color: #60BF88;
}
.red:hover,
.red:focus {
    background-color: #EA8282;
}


.red {
    background-color: #EA8282;
    color: #fff;
    background-image: url("./img/highlight_off-24px.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: top 50% right 18px;
    border: none;
}

@media (min-width: 1114px) {
    .app {
        max-width: 464px;
        margin: 0 auto;
    }
} 



